#p7{
    color: black;
    
}
#p1,#p10{
    color:white;
    
}
#p9,#p6,#p8{
    color: blue;
    font-size: medium;
}
.Myclass1{
    background-color: aquamarine;
    
}
.Myclass2{
    font-size: large;
}
.Myclass3{
    font-size: small;
    background-color: black;
}
table,td{
    border-radius:5px;
    font-size: 40px;
    border-color: red;
    border-width: 5px;

}
thead{
    background-color: red;
    color: blue;
    text-align: center;
    border-radius: 5px;
    border-color: red;
    border-width: 5px;
}
tbody{
    background-color:violet;
    color: black;
    text-align: center;
    border: radius 5%;
    border-color: red;
    border-width: 5px;

}